.main-nav {
    background: #0C9AD9;
}
:root {
    --nnak-green: #0DFC03;
    --nnak-red: #FE0002;
    --nnak-blue: #0C9AD9;
}

.main-nav-items a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.main-nav-items a:hover {
    color: var(--nnak-green);
}

.main-nav-items .active {
    color: var(--nnak-green);

}

.red {
    background: var(--nnak-red);
}

.break-li {
    margin-top: 10px;
    border-top: dotted 1px;
}

footer .widget h5 {
    border-bottom: solid 1px var(--nnak-green);
    padding-bottom: 5px;
}

.txt-blue {
    color: var(--nnak-blue);
}

.txt-green {
    color: var(--nnak-green);
}

.txt-red {
    color: var(--nnak-red);
}

.txt-large {
    font-size: 5ch;
    font-weight: bolder;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid var(--nnak-blue);
    background-color: var(--nnak-blue);
}

.ml-5 {
    margin-left: 5px;
}

.footer-container {
    background: #111111;
}

.auth-nav {
    background: var(--nnak-blue);
    color: #ffffff;
}

.nnak-blue-bg {
    background: var(--nnak-blue);
}

.portal-content {
    padding: 5vh 5vw 0;
    /*background: #000;*/
    /*width: 100%;*/
}

.page-content {
    margin-top: 100px;
    padding: 10vh;
    background: #ffffff;
    /*width: 100%;*/
}

.page-widget {
    border-top: solid var(--nnak-blue) 1px;
    padding : 1vw;
    /*height: 100%;*/
}

.page-title {
    border-bottom: 3px solid var(--nnak-blue);
    color: var(--nnak-blue);
    padding: 3px;
    font-size: larger;
    font-weight: bolder;
    margin : 3px;
}

.ul-no-decoration {
    list-style: none;
}

.edit-form {
    width: 70%;
    margin: auto;
}

.edit-form label {
    font-weight: bold;
}

.popover {
    display: none;
}

.note-btn-group button {
    border-radius: 3px;
    padding: 5px;
    border: .8px solid #aaaaaa;
    font-weight: unset;
    background-color: white;
    color: #000000;
}

.note-editor.note-frame.fullscreen {
    position: fixed;
    /*top: 70px;*/
    z-index: 1000;
    left: 5%;
    width: 90%!important;
}

.panel-heading.note-toolbar {
    padding: 0 0 5px 5px;
    margin: 0;
    background: var(--nnak-green);
}

.dash-action{
    background: var(--nnak-blue);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    color: var(--nnak-green);
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.dash-action:hover {
    background: var(--nnak-green);
    color: var(--nnak-blue);
}

.full-width {
    width: 100%;
}

.align-middle {
    height: 100vh;
    /*align-items: center;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lost {
    background-size: cover;
    background: #0D0D0D url("../img/lost_bg.jpg") no-repeat bottom;
    /*height: 100vh;*/
}

.lost-message {
    margin-top: 15vh;
    text-align: center;
    padding: 2vh;
    border-radius: 1vh;
    background: #ffffff;
    width: 70vw;
    opacity: .3;
    height: 20vh;
}

.lost-message:hover {
    opacity: .4;
    background: var(--nnak-green);
}